{% extends "base.html" %}

{% block content %}
{% set messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


{% endfor %}

{% endif %}

{% if all_posts %}

<h1>Posts by {{user.name}}</h1>

{% for post in all_posts.items %}



<a href="{{url_for('post.view_post', post_id = post.id)}}">{{ post.title }}</a> Posted by {{ post.author.name }} posted on {{post.date.strftime("%Y-%m-%d")}} at {{post.date.strftime("%I:%M %p")}}<br><br>





{% endfor %}

{% if all_posts.pages > 1%}
page:
{% for page in all_posts.iter_pages(left_edge = 1, left_current=1, right_edge = 1, right_current = 2) %}
  {% if page %}
    {% if page == all_posts.page %}
      <u><a href="{{url_for('core.home', page=page)}}">{{page}}</a></u>
    {% else %}
    <a href="{{url_for('core.home', page=page)}}">{{page}}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}

{% endfor %}
{% endif %}

{% else %}

"No new Posts create new post"

{% endif %}

{% endblock %}